.formFormat {
  padding-top: 100px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 180px;
}

.month {
	
  width: 400px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-style: italic;
  font-size: 30px; 
  color:#2f736f;  
}

.mode {
	
  /* width: 300px;*/
  padding-left:50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-style: italic;
  font-size: 30px; 
  color:#7c2e64;
}

.monthInputformat {
	
	border-style: dotted;
	border-color:#ff5050;
	border-width:5px;	
	font-size: 30px; 
}

.modeInputformat {
	
	border-style: dotted;
	border-color:#ff0066;
	border-width:5px;	
	font-size: 30px; 
}


.submitLook {
	
	
	color:#abc657;
	font-size:30px;
	
	padding-top: 10px;
	padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #601561;
    border:ridge;  
    border-color: #e5c3c3;
    border-width:4px;
    margin-top:40px; 

    cursor: pointer;	
}






