@charset "UTF-8";

.month {
	
  width: 400px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-style: italic;
  font-size: 30px; 
  color:#2f736f;  
}

.mode {
	
  /* width: 300px;*/
  padding-left:50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-style: italic;
  font-size: 30px; 
  color:#7c2e64;
}

.greetNY  {	
	width:1500ox;
	font-size:30px;
	color: #abc657;
	padding-top: 50px;
	padding-left: 100px;
    padding-right: 10px;
    padding-bottom: 10px;
    border:dashed;  
    border-color:#6fd5cc;
    border-width:4px;
    margin-top:50px;
}   
   
.monthmode {
	
	font-size:40px;
	border-top:dashed;
	border-color:#990707;
	
	border-width:4px;
	padding-top: 50px;
	padding-left: 50px;
	margin-right: 50px;
	padding-bottom: 20px;
	color:#74b3b6	;
	position:relative;
}


